body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	color: #e2dbdb;
	text-align: center;	
}

hr {
	color: #48dd59;
	border-width: 3px;
	max-width: 65px;
}

.buffer{
	height: 10rem;
}

.btn{
	font-weight: 600;
	border-radius: 250px;
	text-transform: uppercase;
	background-color: #48dd59;
	border-color: #48dd59;
}

.btn:hover{
	background-color: #54dc02;
	border-color: #54dc02;
	border-width: 3px;
}

.botondemierda{
	padding: 10px 20px;
}